.container {
  margin-right: 25%;
  margin-left: 25%;
}

h1 {
  font-size: 3vmin;
}

.row {
 display: flex;
 justify-content: center;
}

.column-two {
  flex-basis: 50%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-fourth {
  flex-basis: 25%;
}

img {
  max-width: 100%;
  width: 100%;
}

p {
  font-size: 1.2vmin;
}

h2 {
  font-size: 1.5vmin;
}
