* {
  margin: auto;
  max-width: 1200px;
}

.row{
  display: flex;
}

.row-two {

}

.single-column {
  height: 130px;
  text-align: center;
}

.single-column h1 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.single-column p {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;

}

.column-half {

}

.column-half p {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  margin-top: 9px;
}

.column-half h3 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;

}

.column-left {

}

.column-right {

}


.learn-more {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  border: 1.5px solid #D96D68;
  background-color: #ffffff;
  color: #D96D68;
  text-transform: uppercase;
}
